$color_black: #313237;
$color_l_black: #36373A;
$color_white: #ffffff;
$color_gray: #61686D;
$color_d_gray: #292B2D;
$color_l_gray: #EDEDF2;
$color_green: #34A853;
$color_red: #EA4335;
$color_yellow: #FBBC05;
$color_orange: #FB8E2A;
$color_blue: #2C92F0;
$color_purple: #7784EE;
$color_hov_purple: #6570C4;

$tablet: 1024px;
$mobile: 495px;

$primary_font: 'Poppins', sans-serif;